@import '../../styles/_variables.scss';

.card-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;

  .card-info {
    text-align: left;
    margin-right: 20px;

    .card-title {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      color: $color-primary;
      font-size: 1.8rem;
    }

    .card-location {
      margin: 5px 0 10px;
      font-size: 0.9rem;
      color: black;
    }

    .card-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

    }
    .card-tag {
      width: auto;
      border-radius: 15px;
      padding : 7px 20px;
      background-color: $color-primary;
      color: white;
    }
  }

  .card-host-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;


    .card-host-info {
      display: flex;
      align-items: center;

      gap: 10px;

      .host-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .host-picture {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  .card-header {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .card-host-container {



  }
  .card-header .card-host-container {
    flex-direction: column-reverse;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .drawers { 
    display: flex;
    flex: 1;
    gap: 15px;
    flex-direction: row;
  }
  drawer {
    width: 45%;
  }
}
