@import '../styles/_variables.scss';

.apropos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .apropos-image {
    width: 100%;
    height: 138px;
    object-fit: cover;
  }

  .apropos-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
  }

  .apropos-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;

    .apropos-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      background-color: $color-red;
      cursor: pointer;
      border: none;
      outline: none;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #e0e0e0;
      }

      .arrow {
        margin-left: 10px;
        transition: transform 0.5s ease; // Durée de rotation
        transform-origin: center; // Point d'origine de la rotation

        // Appliquer la rotation en fonction de l'état
        &.open {
          transform: rotate(180deg); // Rotation de 180° pour flèche ouverte
        }
      }
    }

    .apropos-content-text {
      padding: 15px;
      font-size: 14px;
      background-color: #fff;
      line-height: 1.5;
      color: #333;
      text-align: left;
    }
  }
}
