@import '../styles/_variables.scss';

.home {
  text-align: center;
  margin: 10px;

  .home-banner {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
    width: 100%; 
    height: 220px; 
    overflow: hidden;

    &::after {
      content: ""; 
      position: absolute;
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
      background-color: rgba(0, 0, 0, 0.7); 
      z-index: 1; 
      border-radius: 15px;
    }

    .home-banner-image {
      width: 100%; 
      height: 100%; 
      border-radius: 15px;
      object-fit: cover; 
    }

    .home-banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2rem;
      font-weight: bold;
      text-align: center; 
      line-height: 1.2;
      z-index: 2;
      padding-bottom: 50px;

      // Par défaut, les deux parties sur la même ligne
      display: block;

      @media (min-width: $breakpoint-tablet) {
        font-size: 2.5rem;
      }

      @media (min-width: $breakpoint-desktop) {
        font-size: 3rem;
        white-space: nowrap; // Une seule ligne sur desktop
      }

      // Partie "Chez vous"
      .home-banner-text-line1 {
        display: inline-block; // Utilisation de inline-block pour le texte sur une ligne
      }
      

      // Partie "Partout et ailleurs"
      .home-banner-text-line2 {
        display: inline-block;
      }

      // Sur mobile, tout le texte est en deux lignes
      @media (max-width: $breakpoint-mobile) {
        .home-banner-text-line1, 
        .home-banner-text-line2 {
          display: block; // Chaque partie sur une ligne séparée
        }

      }
    }
  }

  .home-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;

    .preview-card {
      width: 30%;
      margin-bottom: 20px;
    }
    @media (max-width: $breakpoint-mobile) {
    .preview-card {
      width: 80%;
    }
  }
  }

}
