@import '../../styles/_variables.scss';

.drawer {
  margin: 10px 0;
  width: 100%; 

  .drawer-button {
    background-color: $color-primary;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 5px;

    .arrow {
      transition: transform 0.3s ease;
      transform: rotate(180deg);

      &.open {
        transform: rotate(0deg);
      }

      i {
        font-size: 1.5rem;
      }
    }

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  .drawer-content {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;

    /* Justification du texte */
    p {
      text-align: justify;
    }

    /* Liste d'équipements sans puces et alignée à gauche */
    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        text-align: left;
        margin-bottom: 5px;
      }
    }
  }
}
