@import '../styles/_variables.scss';

.arrow-button {
  background: none;
  border: none;
  color: #333;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  &.left {
    left: -50px;
  }

  &.right {
    right: -50px;
  }

  &:hover {
    color: #666;
  }
}
