@import '../styles/_variables.scss';

.drawer {
  margin: 10px 0;
  
  .drawer-button {
    background-color: $color-primary;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    border-radius: 5px;
    .arrow {
      margin-left: 10px;
      transition: transform 0.4s ease;
    }

    .open {
      transform: rotate(180deg);
    }

    .closed {
      transform: rotate(0deg);
    }

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  .drawer-content {
    padding: 10px;
    color: black;
    font-size: 0.9rem;
  }
  
  .drawer-content .equipment {
    background-color: #f0f0f0;
    color: black;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    font-size: 0.8rem;
    text-align: center;
  }
}
