// src/components/_Footer.scss

@import '../styles/_variables.scss';


.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer h2 {
  margin: 0;
}

.footer p {
  font-size: 0.9rem;
}

.apropos {
  margin: 20px;
}

.apropos img {
  border-radius: 15px;
}

.footer button:hover {
  background-color: darken($color-primary, 10%); 
}
