@import '../styles/_variables.scss';


.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 20px;
}

.header__title {
  font-size: 1.5rem;
  color: $color-primary;
}

.header__nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.header__nav .active {
  text-decoration: underline;
}
