// src/components/_PreviewCard.scss

.preview-card {
  position: relative;
  cursor: pointer; 
  overflow: hidden;
  height: 100%;
}

.preview-card-cover {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: conver;
}

.preview-card-title {
  position: absolute; 
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 14px;
  text-align: left;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); // Ombre pour améliorer la lisibilité
}
