@import '../../styles/_variables.scss';

.card-image-container {
  position: relative;
  width: 100%;
  height: 400px; /* Hauteur fixe pour éviter les sauts de mise en page */
  max-height: 600px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }

    &:hover {
      color: #666;
    }
  }

  .carousel-counter {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
    z-index: 2;
  }
}

.hide-arrow {
  display: none;
}
