@import '../../styles/_variables.scss';

.carousel-button {
  background: none;
  border: none;
  color: #333;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  &.left {
    left: -50px;
  }

  &.right {
    right: 20px;
  }

  &:hover {
    color: #666;
  }
  
  .carousel-button i {
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
}
